*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section{
    width: 100%;
    padding: 60px 150px;
}
.card{
    border-radius: 30px;
    padding: 50px 50px;
    box-shadow: 4px 4px 16px 8px var(--shadow);
}
.card .card-content{
    display: flex;
    gap: 35px;
}
.card-content .profile{
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}
.profile .tanggal{
    font-size: 12px;
}
.profile img{
    border-radius: 10px;
}
.card-desc .desc p:has(strong){
    margin-bottom: 10px;
}
.card-desc .desc p strong{
    font-weight: 500;
}
.desc .rating{
    display: flex;
    align-items: center;
    gap: 7px;
}
.button{
    margin-top: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.button button{
    cursor:pointer;
    width: 240px;
    padding: 5px 0;
    text-align: center;
    border-radius: 20px;
    border-style: none;
    font-size: 16px;
    font-weight: 600;
}
.button .primary{
    color: var(--white);
    background-color: var(--primary);
}
.button .second{
    color: var(--black);
    background-color: var(--box);
}

.button:hover .primary:hover {
    background-color: var(--secondary);
}
.button:active .primary:active {
    background-color: var(--footer);
    transform: scale(0.98);
}
.button:hover .second:hover {
    background-color: var(--placeholder);
}
.button:active .second:active {
    background-color: var(--shadow);
    transform: scale(0.98);
}