@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    min-height: 100vh;
    display: flex;
    background-color: #FFFFFF;
    padding: 0;
    font-size: 16px;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.left-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
}

.image {
    max-width: 620px;
    margin-bottom: 20px;
}

.image img {
    width: 100%;
    height: auto;
}

.right-section {
    flex: 1;
}

.formlogin {
    background: #FFFFFF;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.08);
    max-width: 480px;
    width: 100%;
    height: 500px;
}

.formlogin h2 {
    color: #E60022;
    font-size: 35px;
    margin: 15px auto 40px;
    text-align: center;
}

.input-group {
    margin: 20px 25px;
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #C2C0C0;
}

.input-group input {
    border:0;
    width: 100%;
    padding: 15px 20px;
    outline: none;
}

.btn {
    padding: 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin: 95px auto 10px;
    width: 90%;
    display: block;
    background-color: #E60022;
    color: #FFFFFF;

}

.btn:hover {
    background-color: #B40303;
    color: #FFFFFF;
}
.btn:active{
    background-color: #9D0202;
    color: white;
    transform: scale(0.98);
}

.links {
    text-align: center;
    margin-top: 5px;
    color: #121212;
    font-size: 14px;
}

.links a {
    color: #E60022;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}
input[type="password"]::-ms-reveal, /* Internet Explorer */
input[type="password"]::-ms-clear, /* Internet Explorer */
input[type="password"]::-webkit-textfield-decoration-container { /* Webkit browsers */
    display: none;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 20px;
    }

    .left-section {
        display: none;
    }

    .formlogin {
        padding: 30px 20px;
    }
}