:root{
    --white: #ffffff;
    --black: #121212;
    --primary: #E60022;
    --secondary: #B40303;
    --footer: #9D0202;
    --placeholder: #696969;
    --box: #C2C0C0;
    --shadow: #D1D1D1;
}