:root{
    --button-color: #E60022;
    --hover-color: #B40303;
    --push-color: #9D0202;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 0 150px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    /* margin-left: 180px; */

}
body {
    font-family: Arial, sans-serif;
    cursor: url('../Assets artha/cursor.png'), auto; 
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* padding: 40px; */
    height: 80vh;
}

.welcome h2 {
    font-size: 40px;
    color: #3c3c3c;
    margin-bottom: 20px;
}

.welcome h2 span {
    color: var(--button-color);
}

a{
    text-decoration: none;
}

.button {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 210px;
    padding: 10px 10px;
    background-color:var(--button-color);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 10px;
}

.count {
    /* background: var(--button-color); */
    color: #ffffff;
    padding: -5px -3px;
    font-weight: 600;
    font-size: 15px;
}

.exit {
    background-color: var(--button-color);
    display: flex;
    align-items: center;
    padding: 10px 30px;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
    height: 70px;
    justify-content: space-between; 
    width: 210px;
    font-weight: 700;
    text-decoration: none;
}

.button.exit i {
    margin-right: 5px;
    color: white;
}

.illustration {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.illustration img {
    width: 80%;
    height: auto;
    border-radius: 8px;
    padding-right: 5px;
    margin-right: 5px;
}

.button:hover,.count:hover{
    background-color: var(--hover-color);
}
.exit:hover{
    background-color: var(--hover-color);
}
.button:active,.count:active{
    background-color: var(--push-color);
    transform: scale(0.98);
}
.exit:active{
    background-color: var(--push-color);
    transform: scale(0.98);
}

