*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
nav{
    width: 100%;
    padding: 35px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
    top: 0;
    background-color: var(--white);
}
nav .logo{
    height: 30px;
}
nav .nav-hamburger{
    display: none;
    flex-direction: column ;
    height: 20px;
    justify-content: space-between;
    position: relative;
}
.nav-hamburger input{
    position: absolute;
    width: 20px;
    height: 20px;
    /* top: -4px;
    left: -4px; */
    opacity: 0;
}
nav .nav-hamburger span{
    display: block;
    width: 20px;
    height: 1.5px;
    background-color: var(--black);
    /* border-radius: 3px; */
}
nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 20px;
}
nav ul a{
    text-decoration: none;
    color: var(--black);
    font-size: 16px;
    font-weight: 400;
}
nav ul .masuk{
    color: var(--primary);
}
#beranda{
    margin-top: 100px;
    margin-bottom: 45px;
    width: 100%;
    padding: 80px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content .judul-1{
    font-size: 46px;
    font-weight: 500;
}
.content .judul-2{
    font-size: 46px;
    font-weight: 500;
}
.content .judul-2 strong{
    font-weight: 500;
    color: var(--primary);
}
.content a{
    font-size: 16px;
    text-decoration: none;
    color: var(--primary);
    font-weight: 600;
}
#postingan{
    width: 100%;
    padding: 45px 150px;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#postingan .judul{
    color: var(--white);
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 70px;
}
#postingan .content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 45px; */
    /* min-width: 1140px; */
    margin-bottom: 30px;
    
}
#postingan .content img{
    width: 350px;
    height: 350px;
}
#postingan button{
    padding: 10px 20px;
    border-radius: 30px;
    border-style: none;
    background-color: var(--box);
    font-size: 24px;
    font-weight: 500;
}
#about{
    width: 100%;
    padding: 75px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 95px;
}
#about .judul{
    color: var(--primary)  ;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 80px;
}
#about .content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
}
#about .content .main-content {
    flex: 1; 
}
#about .content .main-content-header{
    font-size: 30px;
    color: var(--primary);
    font-weight: 600;
}
#about .main-content .main-content-desc{
    max-width: 100%;
}
#about .content .separator{
    width: 1.5px; 
    background-color: var(--black); 
    min-height: 250px;
    height: 100%; 
    margin: 0 70px; 
}
#about .content img{
    width: 500px;
}

@media (max-width: 768px){
    nav{
        padding: 15px 25px;
    }
    nav ul{
        background-color: var(--white);
        position: absolute;
        top: 0;
        right: 0;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100vh;
        width: 50vw;
        transform: translateX(100%);
        transition: all 1s;
    }
    nav ul.slide{
        transform: translateX(0);
    }
    .nav-hamburger input:checked ~ .garis-1 {
        opacity: 0;
    }
    
    .nav-hamburger input:checked ~ .garis-2 {
        opacity: 1;
    }
    
    .nav-hamburger input:checked ~ .garis-3 {
        opacity: 0;
    }
    nav .nav-hamburger{
        display: flex;
    }
    nav .logo{
        height: 24px;
    }
    #beranda img{
        display: none;
    }
    #beranda{
        padding: 25px 25px;
    }
    .content .judul-1{
        font-size: 30px;
    }
    .content .judul-2{
        font-size: 30px;
    }
    .content a{
        font-size: 14px;
    }
    #postingan{
        padding: 25px 25px;
    }
    #postingan .judul{
        font-size: 24px;
        margin-bottom: 30px;
    }
    #postingan .content{
        flex-direction: column;
        gap: 25px;
    }
    #postingan .content img{
        width: 320px;
        height: 320px;
    }
    #postingan button{
        font-size: 18px;
    }
    #about{
        padding: 25px 25px;
        margin-bottom: 50px;
    }
    #about .judul{
        font-size: 24px;
        margin-bottom: 30px;
    }
    #about .separator{
        display: none;
    }
    #about img{
        display: none;
    }
    #about .content .main-content-header{
        font-size: 18px;
    }
    #about .main-content .main-content-desc{
        width: 100%;
        font-size: 14px;
    }

}